streamlit
yfinance
pandas
matplotlib
scikit-learn
firebase-admin
toml
openpyxl
streamlit-antd-components
plotly
fpdf
bcrypt
stripe
pyotp
qrcode
slowapi
redis
sentry-sdk
celery
fastapi
uvicorn
pydantic
